.question-option {
    font-size: 16px;
}

.question-description {
    padding-left: 20px;
    font-size: 12px;
    color: #0288d1;
}

label.question-label {
    font-weight: bold;
    font-size: 15px;
}

mat-radio-group {
    padding-top: 20px;
    width: 100%;
}

mat-radio-button {
    padding: 3px 0 3px 0;
}