.question-option {
    font-size: 14px;
}

.question-description {
    padding-left: 20px;
    font-size: 12px;
}

label.question-label {
    font-weight: bold;
}

mat-radio-group {
    padding-top: 20px;
    width: 100%;
}