
<mat-card>

    <mat-card-title><h4>License Renewal Eligibility Check</h4></mat-card-title>

    <mat-card-content>

      <app-guest-precheck *ngIf="showGuestPrecheck" 
          [driverLicenseNumber]="currentUser.driverLicenseNumber || componentState?.driverLicenseNumber"
          [trilliumNumber]="currentUser.trilliumNumber || componentState?.trilliumNumber"
          [postCode]="currentUser.postalCode || componentState?.postalCode"
          [dateOfBirth]="currentUser.dob || componentState?.dob"
          (doPreCheck)="doPreCheck($event)"></app-guest-precheck>

      <app-questioner></app-questioner>


    </mat-card-content>
  <span *ngIf="loginService.currentUser" class="userName">{{loginService.currentUser.firstName}}</span>


</mat-card>


<!-- <div style="max-width: 600px;">currentUser {{ currentUser | json}}</div>
<br />
<br />
<br />
<div style="max-width: 600px;">state: {{ componentState | json }}</div> -->