
<mat-card>

    <mat-card-title><h4>License Renewal Eligibility Check</h4></mat-card-title>

    <mat-card-content>

      <app-guest-precheck *ngIf="showGuestPrecheck" 
          [driverLicenseNumber]="currentUser.driverLicenseNumber || componentState?.driverLicenseNumber"
          [trilliumNumber]="currentUser.trilliumNumber || componentState?.trilliumNumber"
          [postCode]="currentUser.postalCode || componentState?.postalCode"
          [dateOfBirth]="currentUser.dob || componentState?.dob"
          (doPreCheck)="doPreCheck($event)"
          (valueChanged)="driverFormChanged($event)"></app-guest-precheck>


      <ng-container id="precheckMessage" *ngIf="precheckMessage">
        <h4>{{precheckMessage.message}}</h4>
        <mat-list>

          <!-- <h3 mat-subheader>{{precheckMessage.message}}</h3> -->

          <mat-list-item *ngFor="let reason of precheckMessage.reasons">
            <mat-icon mat-list-icon>check</mat-icon>
            <h4 mat-line>{{reason.reasonDescription}}</h4>
          </mat-list-item>

        </mat-list>
      </ng-container>

      <app-questioner *ngIf="preEligible" (questionsSubmitted)="questionsSubmitted($event)"></app-questioner>


    </mat-card-content>
  <span *ngIf="loginService.currentUser" class="userName">{{loginService.currentUser.firstName}}</span>


</mat-card>


<!-- <div style="max-width: 600px;">currentUser {{ currentUser | json}}</div>
<br />
<br />
<br />
<div style="max-width: 600px;">state: {{ componentState | json }}</div> -->