:host {
    min-height: calc(100vh - 100px);
}

img#header-logo {
    /* height: 40px; */
    width: 218px;
    /* padding-left: 40px; */
}

img#footer-logo {
    width: 102px;
    height: 42px;
}

.spacer {
    flex: 1 1 auto;
}

.header-title {
    padding-left: 10px;
}

.menu-item {
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.header-subtitle {
    padding-left: 10px;
    font-size: 16px;
}

.active {
    text-decoration: underline;
}

.userName {
    font-size: 12px;
}

mat-toolbar {
    background-color: #0B6B41 !important;
}

.offline {
    background-color: lightgray !important;
}

div.subheader {
    height: 150px;
    width: 100%;
    background-color: #424242;
    color: #ffffff;
}

.loggedin-user {
    font-family: OpenSans;
    font-size: 20px;
    color: #ffffff;
  }

  .footer {
    height: 75px;
    /* width: 100%; */
    color: #ffffff;
    background-color: #404040;
  }

  .footer-menu-item {
    font-family: OpenSans;
    font-size: 16px;
    color: #ffffff;
  }

  .footer-menu-item-mob {
    font-family: OpenSans;
    font-size: 12px;
    color: #ffffff;
  }

  .franch {
      padding-right: 20px;
  }