:host {
    min-height: calc(100vh - 100px);
}

img#logo {
    height: 40px;
}

.spacer {
    flex: 1 1 auto;
}

.header-title {
    padding-left: 10px;
}

.header-subtitle {
    padding-left: 10px;
    font-size: 16px;
}

.active {
    text-decoration: underline;
    font-style: italic;
}

.userName {
    font-size: 12px;
}

mat-toolbar {
    background-color: #0B6B41 !important;
}

.offline {
    background-color: lightgray !important;
}