:host {
    padding-top: 40px;
    min-height: calc(100vh - 300px);
}

mat-card-title {
    font-size: 22px;
}

mat-card-content {
    padding-top: 20px;
}

mat-card-content > div {
    font-size: 18px;
}

.version {
    padding-top: 60px;
    font-size: 12px !important;
}