<mat-card>

    <mat-card-header>
      <mat-card-title>Not Implimented</mat-card-title>
    </mat-card-header>
  
  
    <mat-card-content>

      <div>
        This feature is not implemented
      </div>

      <div class="version">
        v 0.4
      </div>

      <!-- <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiYjRlN2IxYTEtMDg2OC00Nzc4LWE1ZTEtMWUxMzUxODM0Yzc0IiwidCI6IjBhYzBiODk4LWNjZjMtNGM4NC04ZDA3LTRmYzE0ZWY3MmFjMiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
      <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMTkxOTc2MWItMmY2YS00ODZmLWJmYzUtZmZhM2ZiYmFmOTFlIiwidCI6IjBhYzBiODk4LWNjZjMtNGM4NC04ZDA3LTRmYzE0ZWY3MmFjMiIsImMiOjEwfQ%3D%3D&$filter=drivers_license/DRV_LIC_N+eq+'A2145-14558-65419'" frameborder="0" allowFullScreen="true"></iframe>
      <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMTkxOTc2MWItMmY2YS00ODZmLWJmYzUtZmZhM2ZiYmFmOTFlIiwidCI6IjBhYzBiODk4LWNjZjMtNGM4NC04ZDA3LTRmYzE0ZWY3MmFjMiIsImMiOjEwfQ%3D%3D&filter=drivers_license/DRV_LIC_N+eq+'A2145-14558-65419'" frameborder="0" allowFullScreen="true"></iframe> -->



      <iframe width="1300" height="800"
      src="http://40.70.43.110:80/Reports/report/MOTDIMA_DriverLicense_External?rs:embed=true" frameborder="0" allowFullScreen="true">
      </iframe>

    </mat-card-content>
  
  </mat-card>
  