
<div fxShow fxHide.lt-md class="banner"></div>

<div ngClass.gt-sm="page-content" ngClass.lt-md="page-content-mob" fxLayout="column" fxLayoutAlign="start start">

  

  <div class="content-header">
    <span fxShow fxHide.lt-md>Welcome to the </span>Ministry of Transportation
  </div>

  <div ngClass.gt-sm="content-sub-header" ngClass.lt-md="content-sub-header-mob">
      Self Service Portal
  </div>

  <div class="content-sub-header-2" fxShow fxHide.lt-md>
      Skip the service centre and complete many activities online.
  </div>

  <ng-container *ngIf="loginService.currentUser">

    <mat-divider></mat-divider>

    <div class="notifications">NOTIFICATIONS</div>

    <div class="time-to-renew">It’s time to renew your licence</div>

    <div class="license-renew-date">Your Drivers Licence will expire on 24 Jly 2019.</div>

    <mat-divider></mat-divider>

  </ng-container>

  <div ngClass.gt-sm="get-started" ngClass.lt-md="get-started-mob">Get Started</div>

  <div id="allOptionLinks" fxLayout="row wrap" fxLayoutAlign="start start" fxFlexFill>

    <div routerLink="/registration" class="option-link" fxFlex="0 0 400px;" 
        fxLayout="row" fxLayoutAlign="start center">
      <button mat-fab fxShow fxHide.lt-md>
        <mat-icon>credit_card</mat-icon>
      </button>
      <button mat-mini-fab fxShow fxHide.gt-sm>
        <mat-icon>credit_card</mat-icon>
      </button>

      <a ngClass.gt-sm="option-link-ancor" ngClass.lt-md="option-link-ancor-mob" fxFlexOffset="20px;">Renew your Driver’s Licence</a>
    </div>

    <div routerLink="/registration" class="option-link" fxFlex="0 0 400px;" 
        fxLayout="row" fxLayoutAlign="start center">
      <button mat-fab fxShow fxHide.lt-md></button>
      <button mat-mini-fab fxShow fxHide.gt-sm></button>

      <a ngClass.gt-sm="option-link-ancor" ngClass.lt-md="option-link-ancor-mob" fxFlexOffset="20px;">Renew licence plate sticker</a>
    </div>

    <div routerLink="/registration" class="option-link" fxFlex="0 0 400px;" fxLayout="row" fxLayoutAlign="start center">
      <button mat-fab fxShow fxHide.lt-md></button>
      <button mat-mini-fab fxShow fxHide.gt-sm></button>
      <a ngClass.gt-sm="option-link-ancor" ngClass.lt-md="option-link-ancor-mob" fxFlexOffset="20px;">Order a used vehicle information package</a>
    </div>

    <div routerLink="/registration" class="option-link" fxFlex="0 0 400px;" fxLayout="row" fxLayoutAlign="start center">
      <button mat-fab fxShow fxHide.lt-md></button>
      <button mat-mini-fab fxShow fxHide.gt-sm></button>
      <a ngClass.gt-sm="option-link-ancor" ngClass.lt-md="option-link-ancor-mob" fxFlexOffset="20px;">Pay fines, fees, and penalties</a>
    </div>

    <div routerLink="/registration" class="option-link" fxFlex="0 0 400px;" fxLayout="row" fxLayoutAlign="start center">
      <button mat-fab fxShow fxHide.lt-md></button>
      <button mat-mini-fab fxShow fxHide.gt-sm></button>
      <a ngClass.gt-sm="option-link-ancor" ngClass.lt-md="option-link-ancor-mob" fxFlexOffset="20px;">Order a driver abstract</a>
    </div>

    <div routerLink="/registration" class="option-link" fxFlex="0 0 400px;" fxLayout="row" fxLayoutAlign="start center">
      <button mat-fab fxShow fxHide.lt-md></button>
      <button mat-mini-fab fxShow fxHide.gt-sm></button>
      <a ngClass.gt-sm="option-link-ancor" ngClass.lt-md="option-link-ancor-mob" fxFlexOffset="20px;">Order a vehicle abstract</a>
    </div>

    <div routerLink="/registration" class="option-link" fxFlex="0 0 400px;" fxLayout="row" fxLayoutAlign="start center">
      <button mat-fab fxShow fxHide.lt-md></button>
      <button mat-mini-fab fxShow fxHide.gt-sm></button>
      <a ngClass.gt-sm="option-link-ancor" ngClass.lt-md="option-link-ancor-mob" fxFlexOffset="20px;">Order personalised licence plate</a>
    </div>

  </div>

</div>

<div class="how-it-works" fxShow fxHide.lt-md>

  <div class="how-it-works-header">How it works</div>

  <div class="how-it-works-sub-header">Renewing your Driver’s Licence</div>

  <div class="reniew-criteria">You can renew your driver’s licence online if:</div>

  <div class="renew-criteria-list">
    you don’t need a new photo (you must take a new photo every 10 years)<br>
    you have a full licence (G, M class) that isn’t cancelled, suspended, or expired for more than 12 months<br>
    you have a combination class of G1M, G2M, GM1, GM2, M1 or M2 (only the full portion will be renewed online)<br>
    you haven’t updated your address within the last 90 days<br>
    you don’t need tests (vision, written, or road)<br>
    you’re not removing a vision condition<br>
    you have no new medical conditions that may prevent you from driving<br>
    you don’t have outstanding fines<br>
    <br>
    To renew online, you need:<br>
    your driver’s licence number<br>
    the 7-digit trillium number found on your driver’s licence (e.g., *1234567*)<br>
    your postal code
  </div>

</div>








<!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end space-around" fxLayoutGap="10px" style="min-height: calc(100vh - 100px);">

  <mat-card id="renewalCriteriaCard" fxFlex>

    <mat-card-header>
      <mat-card-title i18n>Criteria for renewal</mat-card-title>
      <mat-card-subtitle i18n>Either of one message can occur</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <ul>

        <li i18n>Your licence is going to expire in X days. Please renew on time.</li>

        <li i18n>Sorry, you can not renew your licence since it is valid for more than 180 days from date of expiration</li>

      </ul>

    </mat-card-content>

  </mat-card>


  <mat-card id="Card">

    <mat-card-header>
      <mat-card-title>Renew your driver's licence</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <ul>

        <li>Renew your License Plate sticker</li>

        <li>Order a used vehicle information package</li>

        <li>Order a driver abstract</li>

        <li>Order a vehicle abstract</li>

        <li>Pay driver fines, fees, and penalties</li>

        <li>Order a personalized licence plate</li>

      </ul>

    </mat-card-content>

  </mat-card>


</div> -->