
<div ngClass.gt-sm="page-content" ngClass.lt-md="page-content-mob" fxLayout="column" fxLayoutAlign="start start">

  <div fxShow fxHide.lt-md>image</div>

  <div class="content-header">
    <span fxShow fxHide.lt-md>Welcome to the </span>Ministry of Transportation
  </div>

  <div ngClass.gt-sm="content-sub-header" ngClass.lt-md="content-sub-header-mob">
      Self Service Portal
  </div>

  <div class="content-sub-header-2" fxShow fxHide.lt-md>
      Skip the service centre and complete many activities online.
  </div>

  <ng-container *ngIf="loginService.currentUser">

    <mat-divider></mat-divider>

    <div class="notifications">NOTIFICATIONS</div>

    <div class="time-to-renew">It’s time to renew your licence</div>

    <div class="license-renew-date">Your Drivers Licence will expire on 24 Jly 2019.</div>

    <mat-divider></mat-divider>

  </ng-container>

  <div class="get-started">Get Started</div>

  <div id="allOptionLinks" fxLayout="row wrap" fxLayoutGap="20px;" fxLayoutAlign="start start" fxFlexFill>

    <div routerLink="/registration" class="option-link" fxFlex="0 0 400px;" 
        fxLayout="row" fxLayoutAlign="start center" fxFlexOffset="20px;">
      <button mat-fab>
        <mat-icon>credit_card</mat-icon>
      </button>

      <a fxFlexOffset="20px;">Renew your Driver’s Licence</a>
    </div>

    <div routerLink="/not-implemented" class="option-link" fxFlex="0 0 400px;" 
        fxLayout="row" fxLayoutAlign="start center" fxFlexOffset="20px;">
      <button mat-fab></button>

      <a fxFlexOffset="20px;">Renew licence plate sticker</a>
    </div>

    <div routerLink="/not-implemented" class="option-link" fxFlex="0 0 400px;" 
        fxLayout="row" fxLayoutAlign="start center" fxFlexOffset="20px;">
      <button mat-fab></button>

      <a fxFlexOffset="20px;">Order a used vehicle information package</a>
    </div>

    <div routerLink="/not-implemented" class="option-link" fxFlex="0 0 400px;" 
        fxLayout="row" fxLayoutAlign="start center" fxFlexOffset="20px;">
      <button mat-fab></button>

      <a fxFlexOffset="20px;">Pay fines, fees, and penalties</a>
    </div>

    <div routerLink="/not-implemented" class="option-link" fxFlex="0 0 400px;" 
        fxLayout="row" fxLayoutAlign="start center" fxFlexOffset="20px;">
      <button mat-fab></button>

      <a fxFlexOffset="20px;">Order a driver abstract</a>
    </div>

    <div routerLink="/not-implemented" class="option-link" fxFlex="0 0 400px;" 
        fxLayout="row" fxLayoutAlign="start center" fxFlexOffset="20px;">
      <button mat-fab></button>

      <a fxFlexOffset="20px;">Order a vehicle abstract</a>
    </div>

    <div routerLink="/not-implemented" class="option-link" fxFlex="0 0 400px;" 
        fxLayout="row" fxLayoutAlign="start center" fxFlexOffset="20px;">
      <button mat-fab></button>

      <a fxFlexOffset="20px;">Order personalised licence plate</a>
    </div>

  </div>


</div>








<!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end space-around" fxLayoutGap="10px" style="min-height: calc(100vh - 100px);">

  <mat-card id="renewalCriteriaCard" fxFlex>

    <mat-card-header>
      <mat-card-title i18n>Criteria for renewal</mat-card-title>
      <mat-card-subtitle i18n>Either of one message can occur</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <ul>

        <li i18n>Your licence is going to expire in X days. Please renew on time.</li>

        <li i18n>Sorry, you can not renew your licence since it is valid for more than 180 days from date of expiration</li>

      </ul>

    </mat-card-content>

  </mat-card>


  <mat-card id="Card">

    <mat-card-header>
      <mat-card-title>Renew your driver's licence</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <ul>

        <li>Renew your License Plate sticker</li>

        <li>Order a used vehicle information package</li>

        <li>Order a driver abstract</li>

        <li>Order a vehicle abstract</li>

        <li>Pay driver fines, fees, and penalties</li>

        <li>Order a personalized licence plate</li>

      </ul>

    </mat-card-content>

  </mat-card>


</div> -->